* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "JetBrains Mono Thin";
}
a {
    color: #4b4bef;
    font-weight: 700;
    text-decoration: none;
}
p {
    margin: 10px 0;
}

form {
    border: 1px solid #e3e3e3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
}

button {
    background-color: #e3e3e3;
    border-radius: 4px;
    border: unset;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}
button:hover {
    background-color: #4b4bef;
    color: #e3e3e3;
}