.header {
  text-transform: uppercase;
  background-color: #1B1A23;
  color: #fff;
  padding: 10px 0;
  // .header__container
  &__container {
    display: flex;
    align-items: center
  }

  // .header__menu
  &__menu {
    flex:1 1 auto;
  }

  // .header__menu-actions
  &__menu-actions {
  }
}

.header-menu {
  // .header-menu__item
  &__item {
  }
}

.header-actions {
display: flex;
  gap: 10px;
  // .header-actions__item
  &__item {
    a {
      color: #fff;
    }
  }
}