
input {
  border: 1px solid teal;
  padding: 10px;
}
button {
  background-color: teal;
  padding: 10px 20px;
  color: #e3e3e3;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  background-color: #BC9CFF;
  background-image: url('./assets/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}
.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 485px;
  background-color: transparent;
}

.hero {
  background-color: #BC9CFF;
  background-image: url('./assets/2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 485px;
  background-color: transparent;
}